name: build

on:
  push:
    branches:
      - main

  pull_request:
  merge_group:

  schedule:
    - cron: '0 1 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - name: ⚙️ Setup
        uses: containerbase/internal-tools/setup@9cec14c2c0ead07d4103a515fab640508b69e72a # v3.14.24
        with:
          save-cache: true
      - run: pnpm prettier

  build:
    needs:
      - lint
    runs-on: ${{ matrix.arch.os }}
    name: build (${{ matrix.distro }}, ${{ matrix.arch.name }})

    permissions:
      contents: write

    strategy:
      matrix:
        distro:
          - focal
          - jammy
        arch:
          - name: x86_64
            os: ubuntu-24.04
          - name: aarch64
            os: ubuntu-24.04-arm

    env:
      DISTRO: ${{ matrix.distro }} # build target, name required by binary-builder
      ARCH: ${{ matrix.arch.name }} # build target, name required by binary-builder

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          show-progress: false

      - name: binary-builder
        uses: containerbase/internal-tools@9cec14c2c0ead07d4103a515fab640508b69e72a # v3.14.24
        with:
          command: binary-builder
          dry-run: ${{github.ref != 'refs/heads/main'}}
          token: ${{ secrets.GITHUB_TOKEN }}

  success:
    runs-on: ubuntu-24.04
    needs:
      - lint
      - build
    timeout-minutes: 1
    if: always()
    steps:
      - name: Fail for failed or cancelled build
        if: |
          needs.build.result == 'failure' ||
          needs.build.result == 'cancelled'
        run: exit 1
      - name: Fail for failed or cancelled lint
        if: |
          needs.lint.result == 'failure' ||
          needs.lint.result == 'cancelled'
        run: exit 1
